<% content_for :title do %><% end %>

<% content_for :head_css_extra do %><% end %>
<% content_for :head_js_extra do %><% end %>

<% content_for :main do %>
	<h1>url:</h1>
	<%= request.url %> 

	<h1>environment</h1>
	 test? <%= settings.test? %><br>
	 development? <%= settings.development? %><br>
	 production? <%= settings.production? %><br>

	<h1>model find by id</h1>
	model[:title_<%=params[:locale]%>] = <%= @model["title_#{params[:locale]}".to_sym]%>

	<h1>model find by id</h1>
	model_2[:title_es] = <%= @model_2["title_#{params[:locale]}".to_sym]%>

	<h1>iterating by models</h1>
	@models.each do |m| <br>
	&nbsp;&nbsp;m[:title_<%=params[:locale]%>] <br>
	end <br>
	<% @models.each do |m| %>
	<%= m["title_#{params[:locale]}".to_sym] %><br>
	<% end %>
<% end %>

<% content_for :footer_js_extra do %><% end %>